{% extends 'base.html.twig' %}
{% block bodyclass %}front-body{% endblock %}
{% block stylesheets %}
{{ parent() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122027599-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122027599-1');
</script>
{% endblock %}
{% block header %}
    <header>
        <div class="centered-header">
            <div class="logo">
                <a href="{{path('index')}}"></a>
                <img src="{{asset('images/logo.png')}}" alt="logo"/>
                <div class="title">
                    <h1>Ludovic Moge</h1>
                    <h2>Game designer</h2>
                </div>
            </div>
            <nav>
            {% block navigation %}{% endblock %}
                <a class="contact-button" href="{{path('contact')}}">CONTACT</a>
                <a class="resume" href="{{asset('/images/MogeLudovicResume_en.pdf')}}" target="_blank">RESUME</a>
            </nav>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <div class="centered">
            <p class="return"><a href="{{path('index')}}">Back</a></p>
            <p>© {{ "now"|date("Y")}} ludovicmoge.com - Ludovic Moge</p>
            <p><a href="{{path('contact')}}"> Contact me </a></p>
        </div>
    </footer>
{% endblock %}
{% block body %}{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}
