{% extends 'base.html.twig' %}
{% block bodyclass %}front-body{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block header %}
    <header>
        <div class="centered-header">
            <div class="title">
                <h1>Ludovic Moge</h1>
                <h2>Game designer</h2>
            </div>
            <nav>
                <a class="filter">FILTER</a>
                <a class="contact-button" href="{{path('contact')}}">CONTACT</a>
                <a class="resume" href="{{path('cv')}}">RESUME</a>
            </nav>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <div class="centered">
            <p>© {{ "now"|date("Y")}} ludovicmoge.com - Ludovic Moge</p>
            <p><a href="{{path('contact')}}"> Contact me </a></p>
        </div>
    </footer>
{% endblock %}
{% block body %}{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}
