<article class="front-contact">
<div class="bug-fixing-div">
    <div class="about-me">
        <img src="{{ asset('images/profil.jpg')}}">
        <h1>{{ user.aboutTitle }}</h1>
        <hr class="small-separator"/>
        <div class="quill-edit">{{ user.about | raw }}</div>
    </div>
    <hr class="big-separator"/>
    <div class="contact">
        <h1>Contactez-moi</h1>
        {{ form_start(form) }}
        <div class="person-informations">
        {{ form_row(form.nom) }}
        {{ form_row(form.email) }}
        </div>
        {{ form_row(form.objet) }}
        {{ form_row(form.message) }}
        {{ form_end(form) }}
    </div>
    <hr class="big-separator"/>
    <div class="resume">
        <h1>CV</h1>
        <p>Cliquez sur l'icone pour télécharger le CV.</p> 
        <a href="{{path('cv')}}"><img src="{{asset('images/download.svg')}}"/></a>

    </div>
</div>
</article>