<article class="front-project">
    <div class="image-wrapper">
        <img src="{{ asset('/images/projets/' ~ project.frontImage.image) }}"/>
    </div>
    <header> <h1>{{ project.name }}</h1> 
        <div class="meta-data">
            <p class="date">{{ project.date|date("M Y") }}</p>
            <p>Projet <span class="context">{{ project.context.value }}</span>
             en tant que : {% for role in project.roles %}
            <span class="role">{{ role.value }}</span>
                {% if loop.last %} 
                {% elseif loop.revindex0 == 1 %} et {% else %}, 
                {% endif %}
            {% endfor %}</p>
        </div>
    </header>
    <p class="description">{{ project.description }}</p>
</article>