<div class="project">
    <a class="id" href="{{path('project', {'id' : project.id })}}"></a>
    {% if project.frontImage is not null %}
    <img src="{{ asset('/images/projets/' ~ project.frontImage.image) }}"/>
    {% endif %}
    <div class="project-infos">
        <header>
            <h1>{{ project.name }}</h1>
            <div class="meta-data">
                <p class="date">{{ project.date|date("M Y") }}</p>
                <p>Projet <span class="context">{{ project.context.value }}</span>
                en tant que : 
                    {% for role in project.roles %}
                        <span class="role">{{ role.value }}</span>
                        {% if loop.last %} 
                        {% elseif loop.revindex0 == 1 %} et 
                        {% else %}, 
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </header>
        <hr/>
        <p class="summary">{{ project.summary }}</p>
        
    </div>
</div>