{% extends 'back/base.html.twig' %}

{% block title %}{{parent()}} - A propos{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="about-wrapper">

    <h1>Menu personalisation</h1>

    {{ form_start(form) }}
    {{ form_row(form.aboutTitle) }}
    <div class="not-visible">
        {{ form_row(form.about) }}
    </div>
    <div class="about-editor-wrapper">
        <div id="about-editor"></div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
