{% extends 'back/base.html.twig' %}

{% block title %}{{parent()}} - {{ project.name }}{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
{% endblock %}

{% block body %}
<a class="return" href="{{ path('back_index') }}"><img src="{{ asset('/images/fleche.svg')}}"/></a>
<div class="project-edit-wrapper">
    <div class="project">
        <div class="caroussel-wrapper">
            {% if project.images is not empty %}
                {% for image in project.images %}
                    <img src="{{ asset('/images/projets/' ~ image.image) }}"/>
                {% endfor %}
            {% else %}
                <img src="{{ asset('/images/template.jpg')}}" alt="project image"></img>
            {% endif %}
        </div>
        {{ form_start(project_form) }}
        {{ form_row(project_form.name)}}
        {{ form_row(project_form.summary)}}
        <div class="meta-data">
        {{ form_row(project_form.date)}}
        {{ form_row(project_form.roles)}}
        {{ form_row(project_form.context)}}
        </div>
        <div class="not-visible-description">
        {{ form_row(project_form.description, {"class" : "description-input"}) }}
        </div>
        <div class="description-editor-wrapper">
            <div id="description-editor"></div>
        </div>
        {{ form_end(project_form) }}
    </div>
    <div class="project-gallery">
        <h2>Images associés</h2>
        {{ form_start(artwork_form , {'name': 'artwork_form'}) }}
        {{ form_widget(artwork_form.images) }}
        {{ form_row(artwork_form.send) }}
        {{ form_end(artwork_form) }}
        <div class="gallery">
            {% for image in project.images %}
                <div class="artwork">
                    <a class="cross" href="{{ path('back_delete_artwork', {'id' : image.id }) }}">X</a>
                    <a class="set-front" href="{{ path('back_project_front_artwork', { 'id' : image.id }) }}" >
                        <img src="{{ asset('images/projets/' ~ image.thumbnail)  }}" />
                    </a>
                    <p class="hidden-id">{{image.id}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
